---
    title : Home Page
    layout : tataletak.njk
---
<body>

<br/><br/><br/><br/>

<div class="row">
  <div class="kolomkiri">
    <div class="card">
      <h2>Home</h2>
      <h5>Februari, 2020</h5>
<p>
Halaman Home</p>
    </div>

  </div>
  <div class="kolomkanan">
    <div class="card">
      <h2>About Me</h2>
      <div class="profil" ></div>
      Teknik Informatika<br>
      Institut Teknologi Sumatera
    </div>
    <div class="card">
      <h3>Menu</h3>
      <div class="card">
        <a class="btnmenu" href="about.html">About Me</a>&emsp;
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>Copyright &copy; 2020 - Aditya Ricky Pratama</p>
</div>

</body>