---
layout : tataletak.njk
name : Aditya Ricky Pratama
major : Informatics Engineering
---
<body>
<br/><br/><br/><br/>

<div class="row">
  <div class="kolomkiri">
    <div class="card">
      <h2>Tentang</h2>
      <h5>Februari, 2020</h5>
<p>
Hello, My name is {{name}}. With a background in major {{major}}, I'm an experienced and trained analyst. Also, I am interested in web design, web development and data analyst.
</p>
    </div>

  </div>
  <div class="kolomkanan">
    <div class="card">
      <h2>About Me</h2>
      <div class="profil" ></div>
      Teknik Informatika 2016<br>
      Institut Teknologi Sumatera
    </div>
    <div class="card">
      <h3>Menu</h3>
      <div class="card">
        <a class="btnmenu" href="#">About Me</a>&emsp;
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>Copyright &copy; 2020 - Aditya Ricky Pratama</p>
</div>

</body>